<ion-header>
  <ion-toolbar color="danger">
    <ion-title>
      Store & Menu 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card" color="clear" routerLink='/menu1/' routerDirection='forward'>
    <ion-card-header>
      <ion-card-title>Store 1 : Drinks</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <img src="/assets/store1.JPEG" alt="" slot="end" />
    </ion-card-content>
  </ion-card>

  <ion-card class="welcome-card" color="clear" routerLink='/menu2/' routerDirection='forward'>
    <ion-card-header>
      <ion-card-title>Store 2 : Noodle</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <img src="/assets/store2.jpg" alt="" slot="end" />
    </ion-card-content>
  </ion-card>

  <ion-card class="welcome-card" color="clear" routerLink='/menu3/' routerDirection='forward'>
    <ion-card-header>
      <ion-card-title>Store 3 : Esan food</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <img src="/assets/store3.jpg" alt="" slot="end" />
    </ion-card-content>
  </ion-card>

  <ion-card class="welcome-card" color="clear" routerLink='/menu4/' routerDirection='forward'>
    <ion-card-header>
      <ion-card-title>Store 4 : อาหารตามสั่ง</ion-card-title>
    </ion-card-header>
    <ion-card-content>
    </ion-card-content>
  </ion-card>

  <ion-card class="welcome-card" color="clear" routerLink='/menu5/' routerDirection='forward'>
    <ion-card-header>
      <ion-card-title>Store 5 : </ion-card-title>
    </ion-card-header>
    <ion-card-content>
    </ion-card-content>
  </ion-card>

  <ion-button expand="full" fill="solid" color="danger"> <ion-icon name="arrow-round-up"></ion-icon>
    Scroll To Top</ion-button>

</ion-content>
