<ion-header>
  <ion-toolbar color="danger">
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
    <ion-title>Filter : Food Type</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item color="light">
      <ion-label>Food Type</ion-label>
      <ion-select [(ngModel)]="type" 
                  [interfaceOptions]="customActionSheetOptions" 
                  interface="action-sheet" placeholder="Select One">
        <ion-select-option value="fried">Fried Food</ion-select-option>
        <ion-select-option value="veg">Vegetable</ion-select-option>
        <ion-select-option value="carb">Carbohydrate</ion-select-option>
        <ion-select-option value="healthy">Healthy</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-button color="dark" expand="full" routerLink='/foodtype/{{ type }}/' routerDirection='forward'>Go</ion-button>

</ion-content>
